{% extends 'blog_layout.html' %}

{% block title %}Slim Blog - {{ article.title }}{% endblock %}

{% block content %}
	<div class="center_wrap texturized">
		<div class="texturized_top">&nbsp;</div>
		<div class="center">
			<div class="left_part">
				<div class="inner">
					<div class="post">
						<h3><a href="#">{{ article.title }}</a></h3>
						<p class="info_line"><span class="time">{{ article.timestamp|date('F d, Y') }}</span> by {{ article.author }} / Tags: <a href="#" class="tags"> CSS,</a> <a href="#" class="tags_active">General</a>, <a href="#" class="tags">Wordpress </a> / Blog / <a href="#" class="comments">4 Comments </a></p>
						<p>{{ article.content|raw }}</p>
					</div>
					<div class="user_comment">
						<h3>14 Comments So Far</h3>
						<div class="user_com">
							<div class="comment_body">
								<span class="border_img"><img src="{{baseUrl}}/assets/curio/images/avatar.jpg" alt="" /></span>
								<strong class="username">Username</strong>
								<span class="blog_data">April 29, 2011</span>
								<p class="comment_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat.</p>
								<a href="#" onclick="return false;" class="the_button">Reply</a>
							</div>
						</div>
						<div class="user_com">
							<div class="comment_body">
								<span class="border_img"><img src="{{baseUrl}}/assets/curio/images/avatar.jpg" alt="" /></span>
								<strong class="username">Username</strong>
								<span class="blog_data">April 29, 2011</span>
								<p class="comment_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat.</p>
								<a href="#" onclick="return false;" class="the_button">Reply</a>
							</div>
							
							<div class="children">
								<div class="user_com">
									<div class="comment_body">
										<span class="border_img"><img src="{{baseUrl}}/assets/curio/images/avatar.jpg" alt="" /></span>
										<strong class="username">Username</strong>
										<span class="blog_data">April 29, 2011</span>
										<p class="comment_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magn aliquam erat volutpat.</p>
										<a href="#" onclick="return false;" class="the_button">Reply</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="leave_reply">
						<h3>Leave a Reply</h3>
						<form action="#">
							<div class="name">
								<p class="txt_leave">Name:</p>
								<input type="text" class="input_comment" value="" name="nick"/>
							</div>
							<div class="mail">
								<p class="txt_leave">E-mail:</p>
								<input type="text" class="input_comment" value="" name="e-mail"/>
							</div>
							<p class="txt_leave">Message:</p>
							<textarea class="textarea_comment" name="" cols="10" rows="10"></textarea>
							<input type="submit" class="btn_read" value="Post"/>
						</form>						
					</div>
				</div>
			</div>
			{% include 'blog_sidebar.html' %}
			<div class="clearb"></div>
		</div>
		<div class="texturized_bottom">&nbsp;</div>
	</div>
{% endblock %}